* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    width: 800px;
    height: 500px;
    display: flex;
    flex-direction: column;
    border: 3px solid rgb(255, 255, 255);
  }
  
  /* Parte superior dividida */
  .top {
    display: flex;
    height: 33%;
  }
   
  .left-top {
    background-color: #3d6aff; /* azul */
    width: 555%;
    position: relative;
  }
  
  .right-top {
    background-color: #f1ff32; /* amarelo */
    width: 555%;
    position: relative;
  }
  
  /* Pequenos quadrados superiores */
  .left-top::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #eaff32;
    left: 20px;
    top: 40%;
  }
  
  .right-top::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #3db1ff;
    right: 20px;
    top: 40%;
  }
  
  /* Faixa do meio */
  .middle {
    background-color: rgb(255, 255, 255);
    height: 33%;
    position: relative;
  }
  
  .middle::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #eaff32;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  
  /* Parte inferior */
  .bottom {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #3db8ff;
    height: 34%;
  }
  
  .square {
    width: 60px;
    height: 60px;
    background-color: #fff132;
  }
  